# This is a sample .gitignore file for Rust projects.
#
# Compiled C code:
*.o
*.so
*.d

# Compiled Rust code:
/target
**/*.rs.bk
**/*.rs.ros
**/*.rs~

# For the IDEs:
/.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log
